{
  "extends": ["react-app", "prettier", "airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "operator-linebreak": "off",
    "no-console": "off",
    "implicit-arrow-linebreak": "off",
    "indent": "off",
    "no-confusing-arrow": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/button-has-type": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-underscore-dangle": "off",
    "curly": "off",
    "nonblock-statement-body-position": "off",
    "jsx-a11y/alt-text": "off",
    "function-paren-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "no-alert": "off",
    "react/forbid-prop-types": "off"
  }
}
